[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "furniture"]
	path = furniture
	url = https://github.com/tysonstanley/furniture
	shallow = true
	registered = true
[submodule "MarginalMediation"]
	path = MarginalMediation
	url = https://github.com/tysonstanley/marginalmediation
	shallow = true
	registered = true
[submodule "tidyfast"]
	path = tidyfast
	url = https://github.com/tysonstanley/tidyfast
	shallow = true
	registered = true
